/*
Proyecto: Complete Cargo
File: 
Programador: Ing. Fredy Hernández
Fecha: $date
*/
/* 
    Created on : 19-ago-2017, 7:20:41
    Author     : fredy.hernandez
*/
@font-face{
    font-family: Agency FB;
    src: url(fonts/agency_fb.eot);
    /*src: local("AGENCYB"), url(fonts/AGENCYB.woff) format("woff"), url(fonts/AGENCYB.ttf) format("truetype");*/
}

	